* {
  transition: all 0.3s ease-out;
}

html,
body {
  height: 100%;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

#root {
  height: 100%;
  width: 100%;
}

.container-profile {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h3 {
  color: #262626;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

h2 {
  color: #262626;
  font-size: 25px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

p {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: #666666;
}

p.small {
  font-size: 10px;
  text-transform: uppercase;
}

button {
  border: none;
  padding: 10px;
}

.card-container-profile {
  display: block;
  top: 0px;
  position: relative;
  width: 35%;
  height: 50%;
  background-color: #d7f9ff;
  border-radius: 30px;
  padding: 1.5em 1.5em;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.card-container-profile:hover {
  border: 1px solid #00838d;
  box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
  z-index: 500;
}

.card-container-profile:hover p {
  color: #00838d;
}

.card-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.avatar-container-profile {
  display: flex;
  align-items: center;
}

.avatar-container-profile .avatar-profile {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-color: black;
  overflow: hidden;
}

.avatar-container-profile .avatar-profile img {
  width: 100%;
}

.card-body-profile {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.card-footer-profile {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
